<html>
<title>urate</title>
<form action="" method="post" name="query">
    <p>请输入帖子id:<br>
        {{form.post_id(size=20)}}
    <input type="submit" name = "submit" value="Posts">
    <input type="submit" name = "submit" value="Json">
    <input type="submit" name = "submit" value="FeatureGainPerPredict">
    <input type="submit" name = "submit" value="FeatureGainThread">
    <input type="submit" name = "submit" value="FeatureGainReply">

    <br>
     <p>如果需要请输入树的编号(0开始):<br>
     {{form.tree_index(size=10)}}
    <input type="submit" name = "submit" value="PrintTree">
</form>
<body>
{% block content %}{% endblock %}
</body>
</html>