
{% extends "base.html" %}
{% block content %}
<pre> <body>
post_id:{{form.post_id.data}}, post_id should be integer bigger than 0, then click Posts button to show posts 
clik FeatureGainPerPredict button will show features gain for your input post_id(if valid)
clik Json will show json info for your input post_id(if valid)
click FeatureGainThread button will show thread model features gain
click FeatureGainReply button will show repy model features gain
click PrintTreeThread will show gbdt tree of thread model, you can input tree number, default will be tree 0
click PrintTreeReply will show gbdt tree of reply model, you can input tree number, default will be tree 0
</body> </pre>

<!-- <img src="{{ url_for('static', filename='./trees.thread/0.png') }}"></img> -->
{% endblock %}

