
{% extends "base.html" %}
{% block content %}
<!-- <h1>Hi,{{form.post_id}}!</h1> -->
<!-- {{form.info.nowPostInfo.title.decode('gbk')}} <br>
{{form.info.nowPostInfo.content.decode('gbk') | safe}}
 -->

{% set nowPostInfo = form.info.nowPostInfo %}

{% set unameUrl = "http://cp01-forum0015.cp01.baidu.com:8393/evaluationpf/newpvfrs/historythread?userName=%s"%nowPostInfo.userName.decode('gbk') %}
{% set uidUrl = "http://imis.tieba.baidu.com/mp-mis-search/search?pn=1&ie=utf-8&searchwhat=username&username=%s"%nowPostInfo.userName.decode('gbk') %}

{% if form.score > 0.5 %}
    作弊嫌疑度: <font color="red">{{"%.3f" % form.score}}</font>
{% else %}
    作弊嫌疑度: <font color="green">{{"%.3f" % form.score}}</font>
{% endif %}
 
 用户名: <a name="uname" key="uanme" href="{{unameUrl | safe}}" target="_blank">{{nowPostInfo.userName.decode('gbk')}}</a>
 用户id: <a name="uid" key="uid" href="{{uidUrl | safe}}" target="_blank">{{nowPostInfo.userId}}</a>

{% set postsInfo = form.info.postsInfo %}

<table border="1">
  <tr>
    <th>吧名</th>
    <th>标题和内容</th>
    <th>用户ip</th>
    <th>发帖时间</th>
    <th>帖子类型</th>
    <th>帖子id</th>
    <th>删除帖子</th>
    <th>计数</th>
  </tr>
  {% for i in range(postsInfo.numPosts) %}
  <tr>
    <td>{{postsInfo.fnames[i].decode('gbk') | safe}}</td>
 
    <!-- {% set url = "http://tieba.baidu.com/p/{0}?ie=gbk&pid={1}&cid=#{1}".format(postsInfo.tids[i], form.post_id.data) %} -->
    {% set url = "http://imis.tieba.baidu.com/mp-mis-full/search?pn=1&ie=utf-8&thread_id={0}&searchwhat=searchbythreadid&floorNum=1".format(postsInfo.tids[i]) %}
    <td><a name="title" key="title" href="{{url | safe}}" target="_blank">{{postsInfo.titles[i].decode('gbk') | safe}}</a><br>
    {{postsInfo.contents[i].decode('gbk') | safe}}
    </td>

    <td>{{form.ips[i]}}</td>

    <td>{{get_timestr(postsInfo.times[i])}}</td>

    {% if postsInfo.isThreads[i] %}
    <td>主题</td>
    {% else %}
    <td>回复</td>
    {% endif %}

    <td>{{postsInfo.pids[i]}}</td>

    {% if postsInfo.isPostsDeleted[i] %}
    <td>已删除</td>
    {% else %}
    <td>未删除</td>
    {% endif %}

    <td>{{i + 1}}</td>
   </tr>
   {% endfor %}
</table>

{% endblock %}

